In [1]:
from deepar.dataset.time_series import TimeSeriesTrain, TimeSeriesTest
from deepar.model.learner import DeepARLearner
import numpy as np
import os
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd
sunspots_df = pd.read_csv('train_data/learningData.csv').reset_index(drop=True)
sunspots_df['year'] = pd.to_datetime(np.cumsum(sunspots_df['year']), unit='s')
# sunspots_df = pd.read_csv('../datasets/seed_datasets_current/56_sunspots/TRAIN/dataset_TRAIN/tables/learningData.csv')
# sunspots_df['year'] = pd.to_timedelta(pd.to_datetime(sunspots_df['year'], format='%Y')).dt.total_seconds()
# sunspots_df['year'] = pd.to_datetime(np.cumsum(sunspots_df['year']), unit='s')
# sunspots_ds_one = TimeSeriesTrain(sunspots_df, target_idx = 4, timestamp_idx = 1, index_col=0,count_data=False)

In [4]:
sunspots_df['series'] = '1'

In [5]:
sunspots_df

     d3mIndex                year   sd  observations  sunspots series
0           0 1970-01-01 00:00:01  9.2           213        53      1
1           1 1970-01-01 00:00:02  7.9           249        39      1
2           2 1970-01-01 00:00:03  6.4           224        24      1
3           3 1970-01-01 00:00:04  4.2           304         9      1
4           4 1970-01-01 00:00:05  3.7           353         6      1
..        ...                 ...  ...           ...       ...    ...
196       196 1970-01-01 00:03:17  8.0          5273       113      1
197       197 1970-01-01 00:03:18  6.4          8903        70      1
198       198 1970-01-01 00:03:19  3.9          9940        40      1
199       199 1970-01-01 00:03:20  2.5         11444        22      1
200       200 1970-01-01 00:03:21  1.1         12250         7      1

[201 rows x 6 columns]

In [6]:
sunspots_ds_one = TimeSeriesTrain(sunspots_df, grouping_idx=5, target_idx = 4, timestamp_idx = 1, index_col=0)

In [7]:
sunspots_ds_one._data

,year,sd,observations,target,series,_hour_of_day,_day_of_week,_day_of_month,_day_of_year,_week_of_year,_month_of_year,_year,_age
0,1970-01-01 00:00:01,-2.071737,-2.812240,53,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.721326
1,1970-01-01 00:00:02,-2.158056,-2.045698,39,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.699809
2,1970-01-01 00:00:03,-2.257654,-2.578019,24,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.678293
3,1970-01-01 00:00:04,-2.403731,-0.874593,9,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.656776
4,1970-01-01 00:00:05,-2.436931,0.168756,6,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.635260
...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,1970-01-01 00:03:17,-0.071542,104.929448,113,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.495923
197,1970-01-01 00:03:18,-0.483830,182.222398,70,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.517439
198,1970-01-01 00:03:19,-1.128029,204.303056,40,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.538956
199,1970-01-01 00:03:20,-1.488781,236.327462,22,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.560472
200,1970-01-01 00:03:21,-1.849533,253.489478,7,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.581989

In [8]:
sunspots_ds_one._grouping_name

'series'

In [9]:
sunspots_ds_one.unique_cats

array(['1'], dtype=object)

In [10]:
learner = DeepARLearner(sunspots_ds_one, verbose=1)

learner.fit(epochs = 2, steps_per_epoch = 10, early_stopping = False,tensorboard=True,
           checkpoint_dir=os.path.join("./checkpoints"))

Metal device set to: Apple M1 Pro
WARNING:tensorflow:Layer lstm will not use cuDNN kernels since it doesn't meet the criteria. It will use a generic GPU kernel as fallback when running on GPU.

2022-11-07 15:58:35.836335: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:306] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2022-11-07 15:58:35.836451: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:272] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

(<tf.Tensor: shape=(), dtype=float32, numpy=133.85616>, 2)

In [11]:
test_df = pd.read_csv('test_data/learningData.csv').reset_index(drop=True)

test_df['year'] = pd.to_datetime(np.cumsum(test_df['year']), unit='s')

In [12]:
test_df['series'] = '1'

In [13]:
test_df

    d3mIndex                year    sd  observations  sunspots series
0        180 1970-01-01 00:03:22   6.6          6353       NaN      1
1        181 1970-01-01 00:03:23   9.3          6413       NaN      1
2        182 1970-01-01 00:03:24  10.1          5953       NaN      1
3        183 1970-01-01 00:03:25  10.5          6558       NaN      1
4        184 1970-01-01 00:03:26   9.8          6588       NaN      1
5        185 1970-01-01 00:03:27   7.1          7087       NaN      1
6        186 1970-01-01 00:03:28   5.9          6882       NaN      1
7        187 1970-01-01 00:03:29   4.7          7084       NaN      1
8        188 1970-01-01 00:03:30   3.5          6370       NaN      1
9        189 1970-01-01 00:03:31   2.7          6841       NaN      1
10       190 1970-01-01 00:03:32   2.5          6644       NaN      1
11       191 1970-01-01 00:03:33   2.5          6465       NaN      1
12       192 1970-01-01 00:03:34   3.4          6328       NaN      1
13       193 1970-01-01 00:03:35   6.7          6077       NaN      1
14       194 1970-01-01 00:03:36   6.7          5753       NaN      1
15       195 1970-01-01 00:03:37   6.9          5347       NaN      1
16       196 1970-01-01 00:03:38   8.0          5273       NaN      1
17       197 1970-01-01 00:03:39   6.4          8903       NaN      1
18       198 1970-01-01 00:03:40   3.9          9940       NaN      1
19       199 1970-01-01 00:03:41   2.5         11444       NaN      1
20       200 1970-01-01 00:03:42   1.1         12250       NaN      1

In [14]:

test_ds = TimeSeriesTest(sunspots_ds_one,test_df,  target_idx = 4)

In [15]:

preds = learner.predict(test_ds, horizon = None, samples = 1, include_all_training = True).reshape(-1)

InvalidArgumentError: Cannot assign a device for operation ResourceStridedSliceAssign: Could not satisfy explicit device specification '/job:localhost/replica:0/task:0/device:GPU:0' because no supported kernel for GPU devices is available.
Colocation Debug Info:
Colocation group had the following types and supported devices:
Root Member(assigned_device_name_index_=1 requested_device_name_='/job:localhost/replica:0/task:0/device:GPU:0' assigned_device_name_='/job:localhost/replica:0/task:0/device:GPU:0' resource_device_name_='/job:localhost/replica:0/task:0/device:GPU:0' supported_device_types_=[CPU] possible_devices_=[]
ResourceStridedSliceAssign: CPU
_Arg: GPU CPU

Colocation members, user-requested devices, and framework assigned devices, if any:
  ref (_Arg)  framework assigned device=/job:localhost/replica:0/task:0/device:GPU:0
  ResourceStridedSliceAssign (ResourceStridedSliceAssign) /job:localhost/replica:0/task:0/device:GPU:0

Op: ResourceStridedSliceAssign
Node attrs: T=DT_FLOAT, Index=DT_INT32, shrink_axis_mask=0, begin_mask=3, ellipsis_mask=0, new_axis_mask=0, end_mask=5
Registered kernels:
  device='XLA_CPU_JIT'; Index in [DT_INT32, DT_INT64]; T in [DT_FLOAT, DT_DOUBLE, DT_INT32, DT_UINT8, DT_INT16, 16005131165644881776, DT_UINT16, DT_COMPLEX128, DT_HALF, DT_UINT32, DT_UINT64]
  device='DEFAULT'; T in [DT_INT32]
  device='CPU'; T in [DT_UINT64]
  device='CPU'; T in [DT_INT64]
  device='CPU'; T in [DT_UINT32]
  device='CPU'; T in [DT_UINT16]
  device='CPU'; T in [DT_INT16]
  device='CPU'; T in [DT_UINT8]
  device='CPU'; T in [DT_INT8]
  device='CPU'; T in [DT_INT32]
  device='CPU'; T in [DT_HALF]
  device='CPU'; T in [DT_BFLOAT16]
  device='CPU'; T in [DT_FLOAT]
  device='CPU'; T in [DT_DOUBLE]
  device='CPU'; T in [DT_COMPLEX64]
  device='CPU'; T in [DT_COMPLEX128]
  device='CPU'; T in [DT_BOOL]
  device='CPU'; T in [DT_STRING]
  device='CPU'; T in [DT_RESOURCE]
  device='CPU'; T in [DT_VARIANT]
  device='CPU'; T in [DT_QINT8]
  device='CPU'; T in [DT_QUINT8]
  device='CPU'; T in [DT_QINT32]

	 [[{{node ResourceStridedSliceAssign}}]] [Op:ResourceStridedSliceAssign] name: strided_slice/_assign

In [ ]:
%debug

> /Users/mikechen/anaconda3/envs/auto-pytorch/lib/python3.8/site-packages/tensorflow/python/framework/ops.py(7209)raise_from_not_ok_status()
   7207 def raise_from_not_ok_status(e, name):
   7208   e.message += (" name: " + name if name is not None else "")
-> 7209   raise core._status_to_exception(e) from None  # pylint: disable=protected-access
   7210
   7211

ipdb> u
> /Users/mikechen/anaconda3/envs/auto-pytorch/lib/python3.8/site-packages/tensorflow/python/ops/gen_array_ops.py(8617)resource_strided_slice_assign()
   8615       return _result
   8616     except _core._NotOkStatusException as e:
-> 8617       _ops.raise_from_not_ok_status(e, name)
   8618     except _core._FallbackException:
   8619       pass

ipdb> u
> /Users/mikechen/anaconda3/envs/auto-pytorch/lib/python3.8/site-packages/tensorflow/python/ops/resource_variable_ops.py(1433)_strided_slice_assign()
   1431     with _handle_graph(self.handle), self._assign_dependencies():
   1432       return self._lazy_read(
-> 1433           gen_array_ops.resource_strided_slice_assign(
   1434               ref=self.handle,
   1435               begin=begin,

ipdb> u
> /Users/mikechen/anaconda3/envs/auto-pytorch/lib/python3.8/site-packages/tensorflow/python/ops/array_ops.py(1290)assign()
   1288         name = parent_name + "_assign"
   1289
-> 1290       return var._strided_slice_assign(
   1291           begin=begin,
   1292           end=end,

ipdb> u
> /Users/mikechen/PycharmProjects/deepar_tensorflow/deepar/model/learner.py(451)_add_prev_target()
    449             dynamically generated last target
    450         """
--> 451         x_test_new = x_test[0][:, :1, -1:].assign(prev_target)
    452         return [x_test_new, x_test[1]]
    453

ipdb> prev_target
<tf.Tensor: shape=(16, 1, 1), dtype=float32, numpy=
array([[[-1.1810005]],

       [[-1.1810005]],

       [[-1.1810005]],

       [[-1.1810005]],

       [[-1.1810005]],

       [[-1.1810005]],

       [[-1.1810005]],

       [[-1.1810005]],

       [[-1.1810005]],

       [[-1.1810005]],

       [[-1.1810005]],

       [[-1.1810005]],

       [[-1.1810005]],

       [[-1.1810005]],

       [[-1.1810005]],

       [[-1.1810005]]], dtype=float32)>
ipdb> prev_target.shape
TensorShape([16, 1, 1])
ipdb> x_test_new.shape
*** NameError: name 'x_test_new' is not defined
ipdb> x_test.shape
*** AttributeError: 'list' object has no attribute 'shape'
ipdb> len(x_test)
2
ipdb> x_test[0]
<tf.Variable 'Variable:0' shape=(16, 20, 11) dtype=float32, numpy=
array([[[-4.3229389e-01,  1.2792570e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6035054e+00,  8.3904110e-02],
        [ 2.6344159e-01,  1.2920326e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6250219e+00,  8.3904110e-02],
        [ 4.6958545e-01,  1.1940857e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6465387e+00,  8.3904110e-02],
        ...,
        [-4.8382986e-01,  1.8222240e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.9692872e+00,  8.3904110e-02],
        [-1.1280293e+00,  2.0430305e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.9908037e+00,  8.3904110e-02],
        [-1.4887811e+00,  2.3632747e+02,  0.0000000e+00, ...,
          0.0000000e+00,  3.0123203e+00,  8.3904110e-02]],

       [[-4.3229389e-01,  1.2792570e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6035054e+00,  8.3904110e-02],
        [ 2.6344159e-01,  1.2920326e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6250219e+00,  8.3904110e-02],
        [ 4.6958545e-01,  1.1940857e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6465387e+00,  8.3904110e-02],
        ...,
        [-4.8382986e-01,  1.8222240e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.9692872e+00,  8.3904110e-02],
        [-1.1280293e+00,  2.0430305e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.9908037e+00,  8.3904110e-02],
        [-1.4887811e+00,  2.3632747e+02,  0.0000000e+00, ...,
          0.0000000e+00,  3.0123203e+00,  8.3904110e-02]],

       [[-4.3229389e-01,  1.2792570e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6035054e+00,  8.3904110e-02],
        [ 2.6344159e-01,  1.2920326e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6250219e+00,  8.3904110e-02],
        [ 4.6958545e-01,  1.1940857e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6465387e+00,  8.3904110e-02],
        ...,
        [-4.8382986e-01,  1.8222240e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.9692872e+00,  8.3904110e-02],
        [-1.1280293e+00,  2.0430305e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.9908037e+00,  8.3904110e-02],
        [-1.4887811e+00,  2.3632747e+02,  0.0000000e+00, ...,
          0.0000000e+00,  3.0123203e+00,  8.3904110e-02]],

       ...,

       [[-4.3229389e-01,  1.2792570e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6035054e+00,  8.3904110e-02],
        [ 2.6344159e-01,  1.2920326e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6250219e+00,  8.3904110e-02],
        [ 4.6958545e-01,  1.1940857e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6465387e+00,  8.3904110e-02],
        ...,
        [-4.8382986e-01,  1.8222240e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.9692872e+00,  8.3904110e-02],
        [-1.1280293e+00,  2.0430305e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.9908037e+00,  8.3904110e-02],
        [-1.4887811e+00,  2.3632747e+02,  0.0000000e+00, ...,
          0.0000000e+00,  3.0123203e+00,  8.3904110e-02]],

       [[-4.3229389e-01,  1.2792570e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6035054e+00,  8.3904110e-02],
        [ 2.6344159e-01,  1.2920326e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6250219e+00,  8.3904110e-02],
        [ 4.6958545e-01,  1.1940857e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6465387e+00,  8.3904110e-02],
        ...,
        [-4.8382986e-01,  1.8222240e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.9692872e+00,  8.3904110e-02],
        [-1.1280293e+00,  2.0430305e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.9908037e+00,  8.3904110e-02],
        [-1.4887811e+00,  2.3632747e+02,  0.0000000e+00, ...,
          0.0000000e+00,  3.0123203e+00,  8.3904110e-02]],

       [[-4.3229389e-01,  1.2792570e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6035054e+00,  8.3904110e-02],
        [ 2.6344159e-01,  1.2920326e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6250219e+00,  8.3904110e-02],
        [ 4.6958545e-01,  1.1940857e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.6465387e+00,  8.3904110e-02],
        ...,
        [-4.8382986e-01,  1.8222240e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.9692872e+00,  8.3904110e-02],
        [-1.1280293e+00,  2.0430305e+02,  0.0000000e+00, ...,
          0.0000000e+00,  2.9908037e+00,  8.3904110e-02],
        [-1.4887811e+00,  2.3632747e+02,  0.0000000e+00, ...,
          0.0000000e+00,  3.0123203e+00,  8.3904110e-02]]], dtype=float32)>

ipdb> x_test[0].shape
TensorShape([16, 20, 11])
ipdb> x_test[0][:, :1, -1:].shape
TensorShape([16, 1, 1])
ipdb> x_test[0][:, :1, -1:].assign(prev_target)
*** tensorflow.python.framework.errors_impl.InvalidArgumentError: Cannot assign a device for operation ResourceStridedSliceAssign: Could not satisfy explicit device specification '/job:localhost/replica:0/task:0/device:GPU:0' because no supported kernel for GPU devices is available.
Colocation Debug Info:
Colocation group had the following types and supported devices:
Root Member(assigned_device_name_index_=1 requested_device_name_='/job:localhost/replica:0/task:0/device:GPU:0' assigned_device_name_='/job:localhost/replica:0/task:0/device:GPU:0' resource_device_name_='/job:localhost/replica:0/task:0/device:GPU:0' supported_device_types_=[CPU] possible_devices_=[]
ResourceStridedSliceAssign: CPU
_Arg: GPU CPU

Colocation members, user-requested devices, and framework assigned devices, if any:
  ref (_Arg)  framework assigned device=/job:localhost/replica:0/task:0/device:GPU:0
  ResourceStridedSliceAssign (ResourceStridedSliceAssign) /job:localhost/replica:0/task:0/device:GPU:0

Op: ResourceStridedSliceAssign
Node attrs: T=DT_FLOAT, Index=DT_INT32, shrink_axis_mask=0, begin_mask=3, ellipsis_mask=0, new_axis_mask=0, end_mask=5
Registered kernels:
  device='XLA_CPU_JIT'; Index in [DT_INT32, DT_INT64]; T in [DT_FLOAT, DT_DOUBLE, DT_INT32, DT_UINT8, DT_INT16, 16005131165644881776, DT_UINT16, DT_COMPLEX128, DT_HALF, DT_UINT32, DT_UINT64]
  device='DEFAULT'; T in [DT_INT32]
  device='CPU'; T in [DT_UINT64]
  device='CPU'; T in [DT_INT64]
  device='CPU'; T in [DT_UINT32]
  device='CPU'; T in [DT_UINT16]
  device='CPU'; T in [DT_INT16]
  device='CPU'; T in [DT_UINT8]
  device='CPU'; T in [DT_INT8]
  device='CPU'; T in [DT_INT32]
  device='CPU'; T in [DT_HALF]
  device='CPU'; T in [DT_BFLOAT16]
  device='CPU'; T in [DT_FLOAT]
  device='CPU'; T in [DT_DOUBLE]
  device='CPU'; T in [DT_COMPLEX64]
  device='CPU'; T in [DT_COMPLEX128]
  device='CPU'; T in [DT_BOOL]
  device='CPU'; T in [DT_STRING]
  device='CPU'; T in [DT_RESOURCE]
  device='CPU'; T in [DT_VARIANT]
  device='CPU'; T in [DT_QINT8]
  device='CPU'; T in [DT_QUINT8]
  device='CPU'; T in [DT_QINT32]

	 [[{{node ResourceStridedSliceAssign}}]] [Op:ResourceStridedSliceAssign] name: strided_slice/_assign

In [19]:
temp = pd.read_parquet('../cupid/sample_data/data/data.parquet')

In [20]:
train_df = temp[temp['date']<='2021-08-19']
test_df = temp[temp['date']>='2021-08-20']

In [24]:
train_df['_age'] = train_df.groupby(['series']).cumcount()
train_df.groupby(['series'])['_age'].agg('max')

series
0     596
1     596
2     596
3     596
4     596
     ...
95    596
96    596
97    596
98    596
99    596
Name: _age, Length: 100, dtype: int64

In [23]:
train_df

       series       date  static     value
0           0 2020-01-01       2 -0.000000
1           0 2020-01-02       2 -0.031072
2           0 2020-01-03       2 -0.065781
3           0 2020-01-04       2 -0.098203
4           0 2020-01-05       2 -0.122926
...       ...        ...     ...       ...
59992      99 2021-08-15       2 -5.170347
59993      99 2021-08-16       2 -5.492258
59994      99 2021-08-17       2 -4.824520
59995      99 2021-08-18       2 -5.740330
59996      99 2021-08-19       2 -5.601827

[59700 rows x 4 columns]

In [ ]:
train_ds = TimeSeriesTrain(train_df, target_idx = 3, timestamp_idx = 1,grouping_idx =0,freq='D', count_data=False)

In [ ]:
train_ds._data

In [ ]:
train_ds._data["_hour_of_day"].unique()

In [ ]:
train_ds._data.shape[1]

In [ ]:
learner = DeepARLearner(train_ds, verbose=1)

In [ ]:
import os
best_metric, epoch = learner.fit(epochs=10,
                stopping_patience=3,
                early_stopping=True,
                checkpoint_dir=os.path.join("./checkpoints"))

In [ ]:
epoch

In [ ]:
test_ds = TimeSeriesTest(train_ds, test_df, target_idx = 3)

In [ ]:
preds = learner.predict(test_ds,
                        horizon=None,
                        samples=1,
                        include_all_training=True).reshape(-1)

In [ ]:
import numpy as np
np.random.choice(train_ds._val_data[train_ds._grouping_name].unique(), 16)

In [ ]:
train_ds._val_data[train_ds._grouping_name].unique()

In [ ]:
train_ds._grouping_name

In [ ]:
train_ds._val_data